@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>
@*@foreach (var item in @Model.Items)
{
    @if (item is Entree)
    {
        @Model.Entrees.Contains(item);
    }
    @if (item is Side)
    {
        @Model.Sides.Contains(item);
    }
    @if (item is Drink)
    {
        @Model.Drinks.Contains(item);
    }
}*@
<div class="row">
    <div class="column">
        <h2>Combo</h2>

        @foreach (var combo in Model.Menu.AvailableCombos)
        {
            <div class="menu-item">
                <h3>@combo.ToString()</h3>
                <p>Calories: @combo.Calories </p>
                <p>Price: @combo.Price</p>
                @foreach (string s in combo.Ingredients)
                {
                    <p>@s</p>
                }
                <p>Drink: @Model.Menu.Sodasaurus</p>
                <p>Sides: @Model.Menu.Fryceritops</p>
            </div>
        }
    </div>
    <div class="column">
        <h2>Entrees</h2>
        @foreach (var Entree in Model.Menu.AvailableEntrees)
        {
            <div class="menu-item">
                <h3>@Entree.ToString()</h3>
                @foreach (string s in Entree.Ingredients)
                {
                    <p>@s</p>
                }
                <p>Calories: @Entree.Calories </p>
                <p>Price: @Entree.Price</p>
            </div>
        }
    </div>
    <div class="column">
        <h2>Sides</h2>
        @foreach (var side in Model.Menu.AvailableSides)
        {
            <div class="menu-item">
                <h3>@side.ToString()</h3>
                @foreach (string s in side.Ingredients)
                {
                    <p>@s</p>
                }
                <p>Calories: @side.Calories </p>
                <p>Price: @side.Price</p>
            </div>

        }
        <h2>Drinks</h2>
        @foreach (var drink in Model.Menu.AvailableDrinks)
        {
            <div class="menu-item">
                <h3>@drink.ToString()</h3>
                @foreach (string s in drink.Ingredients)
                {
                    <p>@s</p>
                }
                <p>Calories: @drink.Calories</p>
                <p>Price: @drink.Price</p>
            </div>
        }
    </div>
    <div class="column">
        <form method="post">
            <input type="text" name="search" id="search" value="@Model.search" />
            <input type="submit" name="Search" />
            <input type="submit" name="filter" id="filter" value="@Model.applyFilter" />

            <div class="menu-item">
                <h1>Menu Category</h1>
                <label>
                    <input type="checkbox" name="menuCategory" value="Combo" checked="" />
                    Combo
                </label>
                <label>
                    <input type="checkbox" name="menuCategory" value="Entree" checked=""  />
                    Entree
                </label>
                <label>
                    <input type="checkbox" name="menuCategory" value="Side" checked=""  />
                    Side
                </label>
                <label>
                    <input type="checkbox" name="menuCategory" value="Drink" checked=""  />
                    Drink
                </label>
                <h1>Price</h1>
                <label>
                    Min
                    <input id="minimum-price" type="number" min="0" max="10" step="0.1" name="filter" value="@Model.applyFilter" />
                </label>
                <label>
                    Max
                    <input id="maximum-price" type="number" min="0" max="10" step="0.1" name="filter" value="@Model.applyFilter" />
                </label>
            </div>
        </form>
    </div>
</div>
